@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

pre {
    @apply bg-gray-900 rounded text-white font-mono text-base p-4;
}
.post p {
  @apply  text-2xl md:text-3xl mb-5;
}
