{% set assetHash = global.random() %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.njk" %}
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
 <script>
  MathJax = {
    loader: {load: ['a11y/semantic-enrich']},
    options: {
        a11y: {
      speech: true,                      // switch on speech output
      braille: true,                     // switch on Braille output
      subtitles: true,                   // show speech as a subtitle
      viewBraille: false,                // display Braille output as subtitles

      backgroundColor: 'Blue',           // color for background of selected sub-expression
      backgroundOpacity: .2,             // opacity for background of selected sub-expression
      foregroundColor: 'Black',          // color to use for text of selected sub-expression
      foregroundOpacity: 1,              // opacity for text of selected sub-expression

      highlight: 'None',                 // type of highlighting for collapsible sub-expressions
      flame: false,                      // color collapsible sub-expressions
      hover: false,                      // show collapsible sub-expression on mouse hovering

      treeColoring: false,               // tree color expression

      magnification: 'None',             // type of magnification
      magnify: '400%',                   // percentage of magnification of zoomed expressions
      keyMagnifier: false,               // switch on magnification via key exploration
      mouseMagnifier: false,             // switch on magnification via mouse hovering
      align: 'top',                      // placement of magnified expression

      infoType: false                    // show semantic type on mouse hovering
      infoRole: false,                   // show semantic role on mouse hovering
      infoPrefix: false,                 // show speech prefixes on mouse hovering
    },
      menuOptions: {
      settings: {
        assistiveMml: true;   // true to enable assitive MathML
        collapsible: false;   // true to enable collapsible math
        explorer: false;      // true to enable the expression explorer
      }
    },
      sre: {
        speech: 'shallow'  // one of: 'deep', 'shallow', or 'none'
      },
      renderActions: {
        //
        // Force speech enrichment regardless of the menu settings
        //
        enrich: {'[+]': [
          function (doc) {doc.enrich(true)},
          function (math, doc) {math.enrich(doc, true)}  
        ]}
      }
    },
    tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
  };
  </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script> 
 <link rel="stylesheet" href="/assets/main.bundle.css">
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet"> 
 <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">

 <link rel="stylesheet" type="text/css" href="/css/healyicon.css">
  </head>
  <body id="{% if eleventyNavigation.key %}{{ eleventyNavigation.key }}{% endif %}" class="{{ type }} font-serif text-gray-800 leading-normal tracking-normal bg-slate-100 overflow-x-hidden text-base">
  <a class="sr-only focus:not-sr-only" href="#main"> Skip to main</a>
            <main>
              {% include "partials/navigation.njk" %}
                {% include "partials/page-header.njk" %} 
        <section id="main" class="z-10 relative xl:w-6/12 lg:w-8/12 md:w-10/12 sm:11/12 m-auto overflow-hidden sm:my-10">
        {% block content %}
        {{ content | safe }}
        {% endblock %}
      </section
</main>
<div class="gradient z-0 relative"></div>
<!--FitVid-->
<script src="/assets/main.bundle.js" defer></script>
<script>
function myFunction() {
  // Declare variables
  var input, filter, txtValue, article, section, a, i, h2;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  section = document.getElementById("postlist");
  article = section.getElementsByTagName('article');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < article.length; i++) {
    p = article[i].getElementsByTagName ('p')[0];
    txtValue = p.textContent || p.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
       {
      article[i].style.display = "";
    } else {
      article[i].style.display = "none";
    }
  }
}
</script>
<!--Laxy Load-->
 <script type="module">
      import Lazyload from "https://cdn.skypack.dev/vanilla-lazyload";
      const lazyload = new Lazyload();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
  </body>
</html>