{% set assetHash = global.random() %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.html" %}
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
<!--FitVid-->
<script src="https://raw.githubusercontent.com/davatron5000/FitVids.js/master/jquery.fitvids.js"></script>
<!-- Netlify CMS -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
 <link rel="stylesheet" href="/assets/main.bundle.css">
      <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">

  <script src="/assets/main.bundle.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/css/healyicon.css">
  </head>
  <body class="{% if eleventyNavigation.key %}{{ eleventyNavigation.key }}{% endif %} bg-blue-50 font-sans leading-normal tracking-normal overflow-x-hidden w-full ">
    <main tabindex="-1" id="main">
        {% include "partials/page-header.html" %} 
        <section class="container px-4 md:px-0 max-w-6xl mx-auto -mt-32">
        <div class="mx-0 sm:mx-6">
         {% include "partials/sidebar.html" %}
        {% block content %}
        {% endblock %}
        </div>
      <footer role="contentinfo" class="uk-section">
       <center>
          <p>Made with ☕ . <a href="/colophon">Colophon</a>.</p>
          </center>
      </footer>
      </section
</main>
     <script>
      $(".post").fitVids();
      $('iframe[src*="youtube"]').parent().fitVids();
          hljs.initHighlightingOnLoad();
             if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
    </script>
  </body>
</html>