{% extends "layouts/base.njk" %}
 {% set pageHeaderTitle = title %}
 {% set pageHeaderImage = imageURL %}
{% set pageHeaderSummary %}
  <p>
  <b>Author</b> {{ author }} <b>Date</b> <time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time> <b>Rating</b> {{ rating }}<b>Recommend</b> {{ recommend }}
    {% if genres %}
      {% for genre in genres %}
          <a class="inline-block m-1 bg-yellow-50 font-bold text-lg text-yellow-700 p-1 hover:bg-blue-700 hover:text-gray-50" href="/genre/{{ genre | slug }}/">#{{ genre | replace(' ', '') | capitalize }}</a>
      {% endfor %}
  {% endif %}
 </p>
{% endset %}
{% block content %}
    <article class="prose lg:prose-xl w-full mx-auto mt-40">
      {{ content | safe }}
    </article>
{% endblock %}