{% extends "layouts/base.njk" %}
 {% set pageHeaderTitle = title %}
 {% set pageHeaderImage = imageURL %}
 {% set pageHeaderSummary = content %}
 {% set postListItems = pagination.items %}
{% block content %}
      <section class="grid grid-cols-2 gap-6">
         {% for item in postListItems %}
 			<article class="blocks first:border-2 first:bg-purple-200 first:border-purple-600 hover:border-2 hover:bg-yellow-50 rounded-t rounded-b overflow-hidden first:shadow-md first:shadow-2xl first:shadow-purple-500/50 hover:shadow-md hover:shadow-xl hover:border-yellow-500 p-4">
						<div class="no-underline md:flex md:items-start hover:no-underline">
              {% if item.data.imageURL %}
              <div class="sm:w-full md:w-7/12">
              <img class="lazy w-full m-0 rounded-t rounded-b" src="{{ item.data.imageURL}}" alt="{{ item.data.imageAlt }}">
              </div>
            {% endif %}
            <div class="md:pl-4 sm:w-full">
            <span class="serif text-sm text-white p-2 inline-block rounded-2xl bg-purple-600" datetime="{{ item.data.date }}"><b>Genre</b> {{ item.data.genre }} <b>Rating</b> {{ item.data.rating }}</span>
              <h2><a class="no-underline border-none text-xl md:text-3xl text-purple-500" href="{{ item.url }}">{{ item.data.title }}</a></h2>
              <p  class="text-gray-800 font-sans text-base mb-5">{{ item.data.description }}</p>
            <a class="inline-block rounded-xl px-4 py-2 bg-teal-200 font-bold text-slate-600 text-center text-sm hover:bg-yellow-100 hover:text-slate-600 hover:border-yellow-400 hover:shadow-lg hover:shadow-orange-400/50 hover:border-2" href="{{ item.url }}">Read 👉</a>
           </div>
         </div>
      </article>
        {% endfor %}
        </section>
           {% if not tag %}
     {% include "partials/pagination.njk" %}
    {% endif %}
{% endblock %}

