{% extends "layouts/base.html" %}
{% block content %}
     <header id="header" class="uk-section">
    <div class="uk-content">
 <h1 class="title uk-heading-large">{{ intro.greeting }}</h1>
  <p><span>{{ intro.summary }}</span></p>
 </div>
 </header>
  {{ content | safe }}
<section id="featured-boxes" class="uk-section">
       {% for item in collections.work %}
      <div class="uk-card uk-card-default uk-card-hover uk-card-body item">
        <h2 class="uk-card-title">
          {{ item.data.title }}
        </h2>
        <p>
          {{ item.data.summary }}
        </p>
        <a href="{{ item.data.link }}">{{ item.data.linkTitle}}</a>
         {{ content | safe }}
          </div>
      {% endfor %}
</section>
{% endblock %}
