{% extends "layouts/base.njk" %}
{% set pageHeaderTitle = title %}
{% set pageHeaderImage = imageURL %}
{# Render post date and any tags that this post has been filed under #}
{% set pageHeaderSummary = summary %}
 {% set postListItems = pagination.items %}
{% block content %}
  <section class="md:m-0">
      {{ content | safe }}
        </section>
    <section class="m-4 md:m-0">
         {% for item in postListItems %}
           {% set currentPost = post.data.post %}
 			<article class="mb-10">
		{{item.data.content | safe }}
      </article>
        {% endfor %}
        </section>
{% endblock %}