{% extends "layouts/base.njk" %}
{% set pageHeaderTitle = title %}
{% set pageHeaderImage = imageURL %}
{% set hasImage = imageURL | length > 0 %}
{# Render post date and any tags that this post has been filed under #}
{% set pageHeaderSummary = summary %}
 {% set postListItems = pagination.items %}

{% block content %}
  <article>
   <div class="float-right -mt-40 w-3/12">
    <img class="mb-20 -rotate-6" src="/images/icons/lost.png">
    <img class="mb-20 rotate-12" src="/images/icons/depressed.png">
     <img class="mb-10 rotate-6" src="/images/icons/hey.jpg">
    </div>
    <div class="w-9/12">
      {{ content | safe }}
      <div class="grid grid-cols-2 gap-4">
         {% for item in postListItems %}
         <div class="bg-orange-100 px-4 border border-orange-200 rounded-md">
         <h2 class="-pt-4">
             {{ item.data.genre }}
         </h2>
              <p  class="text-gray-800 font-sans text-base">{{ item.content | safe }}</p>
       </div>
        {% endfor %}
        </div>
        </div>
     </article>
{% endblock %}