{% extends "layouts/base.njk" %}
 {% set pageHeaderTitle = title %}
 {% set pageHeaderImage = imageURL %}
 {% set pageHeaderSummary = summary %}
{% block content %}
     <section class="flex flex-wrap justify-between pt-12 -mx-6 ">
           {% for item in collections.javanotes %}
        <article class="w-full md:w-1/2 p-8 flex flex-col flex-grow flex-shrink">
			<div class="flex-1 bg-green-50 rounded-t rounded-b-none overflow-hidden shadow-md pb-5">
				<div class="flex flex-wrap no-underline hover:no-underline mt-6 mb-6 ">
             <div class="w-full px-10">
          <h2 class="w-full" ><a class="text-4xl  font-bold font-serif text-green-600" href="{{ item.url }}">{{ item.data.title }}</a></h2>
         <p class="mb-4"> <b>Genre: </b>{{ item.data.genre }} <b>Rating</b> {{ item.data.rating}} <b>Date</b> {{ item.data.completed }}</p>
          <a class="bg-yellow-100 p-2 hover:bg-yellow-300 mt-4"href="{{ item.url }}">Read 👉</a>
         </div>
 </div>
 </div>
 </article>
        {% endfor %}
  </section>
{% endblock %}
