{% extends "layouts/base.njk" %}
{% set pageHeaderTitle = title %}
{% set pageHeaderSummary %}
  <b>Genre</b> {{ genre }} <b>Date</b> <time datetime="{{ date | w3DateFilter }}">{{ date | asPostDate }}</time>
<b>Rating</b> {{ rating }} 
{% endset %}
{% block content %}
     <article>
      {{ content | safe }}
      </article>
{% endblock %}