{% extends "layouts/base.njk" %}
{% set pageHeaderTitle = title %}
{% set pageHeaderSummary %}
 <span  class="rounded-3xl bg-purple-700 p-4">
  <b>Genre</b> {{ genre }} <b>Date</b> <time datetime="{{ date | w3DateFilter }}">{{ date | asPostDate }}</time>
<b>Rating</b> {{ rating }} 
  </span>
{% endset %}
{% block content %}
     <article>
      {{ content | safe }}
      </article>
{% endblock %}