{% extends "layouts/base.html" %}
{% block content %}
     <header id="header" class="uk-section">
    <div class="overlay o-80"></div>
     <div class="header_content">
        <div class="id_card">
     <div class="image_id"></div>
     <a href="/">← Home</a>
     </div>
 <h1 class="title uk-heading-large">{{ intro.greeting }}</h1>
  <p><span>{{ intro.summary }}</span></p>
 </div>
 </header>
<section id="featured-boxes" class="uk-section">
       {% for item in collections.javanotes %}
      <div class="uk-card uk-card-default uk-card-hover uk-card-body item">
        <h2 class="uk-card-title">
          {{ item.data.title }}
        </h2>
        <p> <b>Genre: </b>{{ item.data.genre }} <b>Rating</b> {{ item.data.rating}} <b>Date</b> {{ item.data.completed }}</p>
        <p> {{ item.data.summary }}</p>
        <a href="{{ item.url }}">Read 👉</a>
          </div>
      {% endfor %}
</section>
{% endblock %}
