{% extends "layouts/base.njk" %}
 {% set pageHeaderTitle = title %}
 {% set pageHeaderImage = imageURL %}
 {% set pageHeaderSummary = content %}
 {% set postListItems = pagination.items %}
 {% if tag %}
  {% set postListItems = collections[tag] | reverse %}
  {% set pageHeaderTitle = 'Links filed under "' + tag +'"' %}
{% endif %}
{% block content %}
     <div class="w-11/12 m-auto mb-10 md:mx-0 md:w-auto space-x-8 space-y-4">
    <a href="/links/" class="border-solid border-2 border-slate-500  inline-block font-sans items-center rounded-2xl bg-orange-500 hover:bg-yellow-100 hover:text-slate-600 px-6 py-2 text-base font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg">all</a>
   <a href="/links/tag/article/" class="border-solid border-2 border-slate-500 inline-block font-sans items-center rounded-2xl bg-teal-500 hover:bg-yellow-100 hover:text-slate-600 px-6 py-2 text-base font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg">
     article
   </a>
    <a href="/links/tag/personal-site/" class="border-solid border-2 border-slate-500 inline-block font-sans items-center rounded-2xl bg-pink-500 hover:bg-yellow-100 hover:text-slate-600 px-6 py-2 text-base font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg">
     personal site
   </a>
   <a href="/links/tag/newsletter/" class="border-solid border-2 border-slate-500 inline-block font-sans items-center rounded-2xl bg-cyan-500 hover:bg-yellow-100 hover:text-slate-600 px-6 py-2 text-base font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg">
     newsletter
   </a>
   <a href="/links/tag/magazine/" class="border-solid border-2 border-slate-500 inline-block font-sans items-center rounded-2xl bg-lime-600 hover:bg-yellow-100 hover:text-slate-600 px-6 py-2 text-base font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg">
     magazine
   </a>
   </div>
      <table id="myTable" class="display">
      <thead><tr><th>Date</th><th>Site</th><th>Genre</th></tr></thead>
      <tbody>
         {% for item in postListItems %}
           {% set currentPost = post.data.post %}
           <tr>
           <td>
  <time datetime="{{ page.date | asPostDate }}">{{ item.data.date | asPostDate }}</time>
         </td>
         <td>
          <a class="text-red-400 font-bold font-sans hover:text-yellow-500" href="{{ item.data.link }}">{{ item.data.title }} &#8599;</a> 
      </td>
      <td>
      {% for tag in item.data.tags %}
          <a class="hover:bg-yellow-100 hover:text-slate-400 hover:border-yellow-400 hover:shadow-lg hover:shadow-orange-400/50 hover:border-2 rounded-xl inline-block text-sm text-indigo-600 ring-1 ring-indigo-600 p-1 hover:text-gray-50" href="/links/tag/{{ tag | slug }}/">{{ tag | replace(' ', ' ') | capitalize }}</a>
      {% endfor %}
      </td>
      </tr>
        {% endfor %}
        </tbody>
        </table>
     {% if not tag %}
     {% include "partials/pagination.njk" %}
      {% endif %}
{% endblock %}