{% extends "layouts/base.njk" %}
 {% set pageHeaderTitle = title %}
 {% set pageHeaderImage = imageURL %}
 {% set pageHeaderSummary = content %}
 {% set postListItems = pagination.items %}
 {% if tag %}
  {% set postListItems = collections[tag] | reverse %}
  {% set pageHeaderTitle = 'Links filed under "' + tag +'"' %}
{% endif %}
{% block content %}
     <div class="w-11/12 m-auto mb-10 md:mx-0 md:w-auto space-x-8 space-y-4">
    <a href="/links/" class="border-solid border-2 border-slate-500  inline-block font-sans items-center rounded-2xl bg-orange-500 hover:bg-yellow-100 hover:text-slate-600 px-6 py-2 text-base font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg">all</a>
   <a href="/links/tag/article/" class="border-solid border-2 border-slate-500 inline-block font-sans items-center rounded-2xl bg-teal-500 hover:bg-yellow-100 hover:text-slate-600 px-6 py-2 text-base font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg">
     article
   </a>
    <a href="/links/tag/personal-site/" class="border-solid border-2 border-slate-500 inline-block font-sans items-center rounded-2xl bg-pink-500 hover:bg-yellow-100 hover:text-slate-600 px-6 py-2 text-base font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg">
     personal site
   </a>
   <a href="/links/tag/newsletter/" class="border-solid border-2 border-slate-500 inline-block font-sans items-center rounded-2xl bg-cyan-500 hover:bg-yellow-100 hover:text-slate-600 px-6 py-2 text-base font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg">
     newsletter
   </a>
   <a href="/links/tag/magazine/" class="border-solid border-2 border-slate-500 inline-block font-sans items-center rounded-2xl bg-lime-600 hover:bg-yellow-100 hover:text-slate-600 px-6 py-2 text-base font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg">
     magazine
   </a>
   </div>
      <section id="postlist" class="w-11/12 m-auto md:m-0 sm:w-auto grid gap-4 grid-cols-1 md:grid-cols-2 mt-10">
         {% for item in postListItems %}
           {% set currentPost = post.data.post %}
		<article class="w-full rounded-lg md:w-auto bg-stone-100 border-solid border-2 border-slate-600 p-2 md:p-8 overflow-hidden">
           <h3 class="m-0 p-0 text-2xl md:text-4xl"><a class="w-full text-red-400 font-bold font-sans hover:text-yellow-500" href="{{ item.data.link }}">{{ item.data.title }} &#8599;</a></h3>  
           <time class="rounded-xl inline-block m-1 border-solid border-2 border-slate-500  bg-blue-50 font-bold text-sm text-blue-800 p-2" datetime="{{ page.date | asPostDate }}">{{ item.data.date | asPostDate }}</time>
      {% for tag in item.data.tags %}
          <a class="inline-block mt-6 rounded-xl border-solid border-2 border-slate-500  px-4 py-2 bg-teal-200 font-bold text-slate-600 text-center text-sm hover:bg-yellow-100 hover:text-slate-600 hover:border-yellow-400 hover:shadow-lg hover:shadow-orange-400/50 hover:border-2" href="/links/tag/{{ tag | slug }}/">{{ tag | replace(' ', ' ') | capitalize }}</a>
      {% endfor %}
          </article>
        {% endfor %}
        </section>
     {% if not tag %}
     {% include "partials/pagination.njk" %}
      {% endif %}
{% endblock %}