{% extends "layouts/base.njk" %}
{% set pageHeaderTitle = title %}
{% set pageHeaderImage = imageURL %}
{% set hasImage = imageURL | length > 0 %}
{# Render post date and any tags that this post has been filed under #}
{% set pageHeaderSummary = summary %}
{% block content %}
    <article class="post-content">
      {{ content | safe }}
      </article>
{% endblock %}