{% extends "layouts/base.njk" %}
{% set pageHeaderTitle = title %}
{% set pageHeaderImage = imageURL %}

{# Grab other posts that aren't this one for the 'more from the blog' feed #}
{% set recommendedPosts = helpers.getSiblingContent(collections.blog, page) %}
{# Render post date and any tags that this post has been filed under #}
{% set pageHeaderSummary %}
     <time class="rounded-xl inline-block m-1 bg-blue-50 font-bold text-sm text-blue-800 p-2" datetime="{{ date | w3DateFilter }}">{{ date | asPostDate }}</time>
  {% if tags %}
    <span class="sr-only" id="tags-desc">Tags for this post</span>
      {% for tag in tags %}
          <a class="rounded-xl inline-block m-1 bg-teal-200 font-bold text-sm text-orange-400 p-2 hover:bg-blue-700 hover:text-gray-50" href="/blog/tag/{{ tag | slug }}/">#{{ tag | replace(' ', ' ') | capitalize }}</a>
      {% endfor %}
  {% endif %}
{% endset %}
{% block content %}
<article class="post-content">
    {% if toc == "true" %}
      {% include "partials/toc.njk" %}
      {% endif %}
      {{ content | safe }}
<div id="hyvor-talk-view"></div>
</article>
<script type="text/javascript">
    var HYVOR_TALK_WEBSITE = 1660; // DO NOT CHANGE THIS
    var HYVOR_TALK_CONFIG = {
        url: '{% set absolutePostUrl %}{{ site.url }}{{ post.url | url }}{% endset %}',
        id: '{{page.id}}'
    };
</script>
<script async type="text/javascript" src="https://talk.hyvor.com/web-api/embed"></script>
    {% if recommendedPosts %}
      <footer class="recommended-posts sm:rounded-2xl">
        {% set postListItems = recommendedPosts %}
        {% include "partials/post-list.njk" %}
      </footer>
    {% endif %}
{% endblock %}