{% extends "layouts/base.njk" %}
 {% set pageHeaderTitle = title %}
 {% set pageHeaderImage = imageURL %}
 {% set pageHeaderSummary = content %}
 {% set postListItems = pagination.items %}
{% block content %}
      <section class="columns-2 gap-6 space-y-6">
         {% for item in postListItems %}
 			<article class="w-full overflow-hidden">
		{{item.data.content | safe }}
      </article>
        {% endfor %}
        </section>
           {% if not tag %}
     {% include "partials/pagination.njk" %}
    {% endif %}
{% endblock %}

