/**General CSS**/
body, html {
    margin: 0px;
    padding: 0px;
}
body {
    color: #374151;
    padding-bottom: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    counter-reset: footnotes;
    background: rgb(255,237,213);
  }
  [role="doc-noteref"]::after {
    counter-increment: footnotes;
    content: '[' counter(footnotes) ']';
    margin-left: 5px;
    color: #dc2626;
  }
header {
    width: 100%;
    background-image: linear-gradient(
  45deg,
  hsl(255deg 43% 68%) 0%,
  hsl(283deg 37% 67%) 11%,
  hsl(312deg 39% 69%) 22%,
  hsl(331deg 52% 73%) 33%,
  hsl(345deg 62% 77%) 44%,
  hsl(357deg 68% 80%) 56%,
  hsl(8deg 72% 82%) 67%,
  hsl(17deg 72% 82%) 78%,
  hsl(25deg 69% 84%) 89%,
  hsl(33deg 62% 85%) 100%
);
    margin-bottom:4%;
    background-repeat: repeat;
    min-height: 25%;
    white-space: normal;
}
header .headerimage  {
    background-size: cover;
    background-position: center;
    position:relative;
    clear: both;
    width: 100%;
}
#home header .headerimage , #blog header .headerimage ,#media header .headerimage , .media-content header .headerimage  {
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40%;
    width: 100%;
}
header h1 {
    max-width: 60%;
}
header h1, nav div h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.prose {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
}
.prose h1, .prose h2, .prose h3, .prose h4 {
    font-family: 'Special Elite', cursive;
}
.prose ul, .prose ul li {list-style-type: none;}

.prose ul li::before {
    content: '✨';
    background-color: transparent;
    position: absolute;
    padding-right: 2em;
    margin-top: -1em;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Palanquin', 'sans-serif';
}
table, th, td {
    border: 1px solid#B45309;
  }
th {
    background: #A78BFA;
    font-weight: bold;
}
th, td {
    padding: .5rem;
}
tr:nth-child(even){background-color: #FDE68A;}

/**Healy Icons**/
.healy {
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px; 
  margin-right: 10px;
}
.healy-smol {
    height: 40px;
    width: 40px;
    background-size: 40px;
}
.healy-reg {
    height: 64px;
    width: 64px;
    background-size: 64px;
}
.healy-big {
    height: 96px;
    width: 96px;
    background-size: 96px;
}
.healy-aaa {
    background-image: url("/images/icons/aaa.jpg");
}
.healy-confused {
    background-image: url("/images/icons/confused.jpg");
}
.healy-content {
    background-image: url("/images/icons/content.jpg");
}
.healy-fauxthot {
    background-image: url("/images/icons/fauxthot.jpg");
}
.healy-happy {
    background-image: url("/images/icons/happy.jpg");
}
.healy-hey {
    background-image: url("/images/icons/hey.jpg");
}
.healy-okfriendo {
    background-image: url("/images/icons/okfriendo.jpg");
}
.healy-reassure {
    background-image: url("/images/icons/reassure.jpg");
}
.healy-sad {
    background-image: url("/images/icons/sad.jpg");
}
.healy-scene {
    background-image: url("/images/icons/scene.jpg");
}
.healy-squint {
    background-image: url("/images/icons/squint.jpg");
}
.healy-thirsty {
    background-image: url("/images/icons/thirsty.jpg");
}
.healy-work {
    background-image: url("/images/icons/work.jpg");
}
@media (max-width: 768px) { 
    body {
        font-size: 12px;
      }
    header h1 {
        max-width: 100%;
    }
    .prose {
        font-size: 18px;
    }
    .hidemobile {
        display: none;
    }
 }