@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/cmu-serif');

/**General CSS**/
body, html {
    margin: 0px;
    padding: 0px;
}
body {
    counter-reset: footnotes;
    
}
  [role="doc-noteref"]::after {
    counter-increment: footnotes;
    content: '[' counter(footnotes) ']';
    margin-left: 5px;
    color: #dc2626;
  }
  pre[class*="language-" ], code[class*="language-"]  {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }
.bitter {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.prose ul, .prose ul li {list-style-type: none;}
.gradient {
      background-color: #fdf2f8;
      background-image: radial-gradient(at 18% 20%, #a5f3fc 0px, transparent 55%), radial-gradient(at 82% 25%, #fbcfe8 0px, transparent 55%), radial-gradient(at 50% 85%, #c7d2fe 0px, transparent 55%);
}
/**Healy Icons**/
.healy {
  display: inline-block;
  margin-left: 5px; 
  margin-right: 10px;
}
.healy-smol {
    height: 40px;
    width: 40px;
    background-size: 40px;
}
.healy-reg {
    height: 64px;
    width: 64px;
    background-size: 64px;
}
.healy-big {
    height: 96px;
    width: 96px;
    background-size: 96px;
}
.healy-huge {
    height: 112px;
    width: 112px;
    background-size: 112px;
}
.healy-aaa {
    background-image: url("/images/icons/aaa.jpg");
}
.healy-confused {
    background-image: url("/images/icons/confused.jpg");
}
.healy-content {
    background-image: url("/images/icons/content.jpg");
}
.healy-fauxthot {
    background-image: url("/images/icons/fauxthot.jpg");
}
.healy-happy {
    background-image: url("/images/icons/happy.jpg");
}
.healy-hey {
    background-image: url("/images/icons/hey.jpg");
}
.healy-okfriendo {
    background-image: url("/images/icons/okfriendo.jpg");
}
.healy-reassure {
    background-image: url("/images/icons/reassure.jpg");
}
.healy-sad {
    background-image: url("/images/icons/sad.jpg");
}
.healy-scene {
    background-image: url("/images/icons/scene.jpg");
}
.healy-squint {
    background-image: url("/images/icons/squint.jpg");
}
.healy-thirsty {
    background-image: url("/images/icons/thirsty.jpg");
}
.healy-work {
    background-image: url("/images/icons/work.jpg");
}
@media (max-width: 768px) { 
    body {
        font-size: 12px;
      }
    header h1 {
        max-width: 100%;
    }
    .prose {
        font-size: 18px;
    }
    .hidemobile {
        display: none;
    }
 }