@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');
/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
pre .com { color: var(---blockquote-color) } /* comment - skyblue */
pre .pun { color:  var(---post-text-color);}    /* punctuation */
pre .pln { color: var(---post-text-color); }    /* plaintext */
    :root {
        --header-height: 300px;
        --header-bg-image: url("/images/bg/breakfast.png");
        --side-bg-image:  url("https://static.tumblr.com/r4e6ztn/A4Nqe7imb/sandwich.png");
        --image-id: url("https://media-exp1.licdn.com/dms/image/C4E03AQFfRY7jUxA8sA/profile-displayphoto-shrink_200_200/0/1604246448737?e=1614816000&v=beta&t=PH9Am_xSkie-UjnCvUnU2LSS0aV77vh8OuFZnSoJQsw");
        /***Colors***/
        --body-bg-color: #EEEEEE;
        --blockquote-color: #ffd4c3;
        --header-bg-color: #3c3e4f;
        --header-title-color:  rgba(112, 247, 235, 0.8);
        --header-sub-color: #eeeeee;
        --accent-color: #ffd4c3;
        --sidebar-bg-color: #fbf7ef;
        --sidebar-title-color: #4b4f5a;
        --sidebar-text-color: #4b4f5a;
        --sidebar-link-color: #fbf2a4;
        --sidebar-link-hover-color: #edcf76;
        --featured-post-color: #feb195;
        --post-bg-color: #F6F6F6;
        --post-title-color: #666666;
        --post-text-color: #4b4f5a;
        --post-link-color: #fbf4b8;
        --post-link-hover-color: #fbf4b8;
        --answer-bg-color: #f8dcb3;
        --ask-bg-color: #febd80;
        /***Fonts***/
        --header-title-font:'Mogra', cursive;
        --header-sub-font: 'Open Sans', sans-serif;
        --sidebar-title-font: 'Bitter', serif;
        --sidebar-text-font: 'Open Sans', sans-serif;
        --post-title-font: 'Bitter', serif;
        --post-text-font: 'Open Sans', sans-serif;
        --quote-text-font: '1785 GLC Baskerville', serif;
    }
    * {   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      ul, ol, li {
          margin: 0px;
          padding: 0px;
      }
      body, html {
        padding: 0px;
        margin: 0px;
      }
    body {
        background-color:var(--body-bg-color);
        font-size:18px;
        font-family: var(--post-text-font);
        background: url("/images/bg/handmadepaper.png");
        line-height: calc(18px + 10px);
        overflow-x:hidden;
        display: grid;
    }
    .sr-only {
        float: left;
        left: -1000px;
        width: 1px;
        z-index: -10;
        overflow: hidden;
        position: absolute;
    }
    .sr-only:focus {
        float: left;
        left: auto;
        top: auto;
        width: auto;
        overflow: auto;
        z-index: 200;
    }
    a:active, .sr-only:focus {
        outline-style:dashed;
        outline-color:red;
        outline-width:2px;
    }
    ::-webkit-scrollbar {
  height: 1rem;
}

::-webkit-scrollbar-track {
  background-color: var(--body-bg-color);
  border: 1px solid var(--header-bg-color);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--post-link-color);
  border: 1px solid var(--header-bg-color);
  border-radius: 0.25rem;
}
    button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  border:none;
}
      a:focus,button:focus {
        outline-style:solid;
        outline-color:red;
        outline-width:2px;
    }
    h1, h2, h3, h4 {
        font-family: var(--post-title-font);
    }
    h1 {
        font-size:calc(18px + 30px);
        line-height:calc(18px + 50px);;
    }
    h2 {
        font-size:calc(18px + 20px);
        line-height:calc(18px + 35px);
    }
    h3 {
        font-size:calc(18px + 10px);
    } 
        #header {
           background: var(--header-bg-color) var(--header-bg-image);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 40%;
        width: 100%;
        font-family: var(--header-sub-font);
        color: var(--header-sub-color);
        margin-bottom:4%;
        position:relative;
        clear: both;
    } 
 .header_content {
       width:100%;
        padding:5%;     
 }
 .id_card {
     display: flex;
     align-items: center;
     font-size: 26px;
 }
 #header a {
    text-decoration: none;
    color: var(--post-link-color);
 }
 #header .tags {
     color: var(--post-link-color);
     box-shadow: inset 0 -8px 0 0 rgba(112, 247, 235, 0.5);
     transition: 1s;
 }
 #header .tags:hover {
    color: var(--post-text-color);
    box-shadow: inset 0 -30px 0 0 var(--post-link-hover-color);
}
 .image_id {
     height: 65px;
     width: 65px;
     border-radius: 50%;
     border: 2px solid var(--header-title-color);
     background: var(--image-id);
     background-size: 65px;
     margin-right: 65px;
 }
    #header h1 {
        font-family: var(--header-title-font);
        color: var(--header-title-color);
    }
    #side {
        width: 30%;
        font-family: var(--sidebar-text-font);
        color:var(--sidebar-text-color);
      background-color: var(--sidebar-bg-color);
      z-index:10;
      background-image: var(--side-bg-image);
      background-size: 550px;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: 13% 26%;
    }
    #side_content {
        padding: 5%;
        box-sizing: border-box;
    }
    #side_content h1, #side_content h2, #side_content h3, #side_content  h4,#side_content h5, #side_content ul li a b {
         font-family: var(--sidebar-title-font);
    }
    #side_content a {
        color: var(--sidebar-text-color);
        box-shadow: inset 0 -8px 0 0 var(--accent-color);
        border-bottom: 2px solid var(--sidebar-text-color);
        text-decoration: none;
        transition: 1s;
    }
    #side_content a:hover {
        box-shadow:inset 0 -26px 0 0 var(--accent-color);
    }
    #side_content ul {
         list-style-type:none;
         padding:0px;
         margin:0px;
     }
     #side_content ul li p a {
           color:var(--idebar-text-color);
           box-shadow:inset 0 -8px 0 0 var(--sidebar-link-color);
           border-bottom:1px solid var(--post-text-color);
           text-decoration:none;
           transition:1s;
      }
      #side_content ul li p a:hover {
           box-shadow:inset 0 -20px 0 0 var(--sidebar-link-hover-color);
           text-decoration:none;
      }
    .blog_title {
        font-family: var(--sidebar-title-font);
    }
       .blog_title a, .post-list h2 a {
       color: var(--sidebar-title-color);
       box-shadow:inset 0 -14px 0 0 var(--accent-color);
       border-bottom:2px solid var(--sidebar-text-color);
       text-decoration:none;
       transition:1s;
    }
          .blog_title a:hover, .post-list h2 a:hover {
       box-shadow:inset 0 -36px 0 0 var(--accent-color);
    }
    .description {
        font-family: var(--sidebar-text-font);
    }
           #main {
       overflow:hidden;
       font-family: var(--post-text-font);
       background-image: url(https://static.tumblr.com/r4e6ztn/sLvqe8kk6/coffee.png);
       background-attachment: fixed;
       background-repeat: no-repeat;
       background-size: 35%;
       background-position: 95% 106%;
       display: flex;
   }
   .blog_content {
    width: 70%;
  }
   /***Single Column***/
    .post {
        color: var(--post-text-color);
        margin-bottom:5%;
        min-width: 50%;
        width: 700px;
        max-width: 100%;
        position:relative;
        overflow:hidden;
        padding: 5%;
    }
    .post p {
        font-family: var(--post-text-font);
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
    }
    .post a {
        color: var(--post-text-color);
        box-shadow:inset 0 -8px 0 0 var(--post-link-color);
       border-bottom:1px solid var(--post-text-color);
       text-decoration:none;
       transition:1s;
    }
    .post a:hover {
       box-shadow:inset 0 -20px 0 0 var(--post-link-hover-color);
    }
    .post figure a {
        box-shadow:none;
    }
     .post figure img, .tmblr-full {
        max-width:100%;
        height:auto;
    }
    .post img {
        display:block;
        height:auto;
        width:100%;   
    }
    .post ul, .post ol {
        padding:10px 20px;
    }
    .post ul li:before {
          content: '👉'; margin-left: -20px; margin-right: 10px; 
    }
     .post-rec {
         margin-left: 5%;
     }
     .post pre {
         background: var(--accent-color);
         overflow-x: auto;
         white-space: pre-wrap;
         white-space: -moz-pre-wrap;
         white-space: -pre-wrap;
         white-space: -o-pre-wrap;
         word-wrap: break-word;
         padding:20px;
         width:100%;
         box-sizing: border-box;
         border-radius: 5px;
         border: 1px solid var(--post-text-color);
     }
     .post p code {
         background: var(--post-link-color);
         border-radius: 5px;
         border: 2px solid var(--post-text-color);
         display: inline-block;
         padding-left: 5px;
         padding-right: 5px;
     }
      .post pre:before {
          content: "🔴 🟡 🟢" ; 
          width:100%;
          display:block;
      }
    .post h1, .post h2 a, .post h2, .post h3, .post h4 { 
         font-family: var(--post-title-font);
        color: var(--post-title-color);
       box-shadow:none;
    }
    .post-list {
      list-style: none;
      margin: 0 auto;
      padding: 5%;
    }
    .post-list li {
      background: rgba(248,220,179, .7) url("/images/bg/ep_naturalwhite.png") repeat;
      display: inline-block;
      border-radius: 5px;
      width: 40%;
      margin: 1%;
      border: 2px solid var(--post-text-color);
      padding-left: 3%;
      padding-right: 3%;
      padding-bottom: 2%;
    }
    .post-list time {
        background: var(--accent-color);
        border: 2px solid var(--post-text-color);
        padding: 10px;
        margin-left: 5%;
    }
    #featured-boxes {
        margin: 5%;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    #featured-boxes .item {
        border: 2px solid var(--post-text-color);
        border-radius: 5px;
        -moz-box-sizing: content-box;
        background: rgba(196, 194, 201, 0.2);
        padding: 2% 5%;
        margin: 1%;
    
    }
    #featured-boxes a {
        background: var(--header-bg-color);
        color: var(--blockquote-color);
        padding: 5px 15px;
        border-radius: 15px;
        margin-bottom: 5%;
        transition: 1s;
     }
     #featured-boxes a:hover {
        background: var(--post-link-hover-color);
        color: var(--post-text-color);
        padding: 5px 15px;
        border-radius: 15px;
        margin-bottom: 5%;
        transition: 1s;
     }
/* Next & previous buttons */
.tags  {
    margin-left:10px;
    padding: 5px;
}
#pagination .pagination__inner {
    clear:both;
    display:flex;
            box-sizing: border-box;
            width:80%;
            margin: 0 auto;
margin-bottom: 5%;
justify-content: space-between;
}
#pagination a {
    cursor: pointer;
    padding: 16px;
    color: var(--post-text-color);
    box-shadow: inset 0 -20px 0 0 rgba(112, 247, 235, 0.5);
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    transition: 0.6s ease;
    user-select: none;
  }
  #pagination a:hover {
    box-shadow: inset 0 -60px 0 0 rgba(112, 247, 235, 0.5);
  }
.cta {
    width: 80%;
    margin: 0 auto;
    padding: 2%;
    border-radius: 5px;
    background: rgba(196, 194, 201, 0.3);
}
/***Components for in post***/
.alert-primary {
    border: 2px solid var(--post-text-color);
    border-radius: 5px;
    background-color: #fbf2a4;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5px;
}
.alert-primary:before {
    content: "IMPORTANT ❗";
    padding: 8px;
    border: 2px solid var(--post-text-color);
    background: #ffd4c3;
}
.donate {
    background:#ffd4c3;
    padding: 5px;
    border-radius: 5px;
    border-bottom: 0px;
}
blockquote {
    margin: 0px;
    border-radius: 5px;
    font-family:'IBM Plex Mono', monospace;
    border-left: 4px solid rgba(112, 247, 235, 0.8);
    background:rgba(112, 247, 235, 0.2);
    padding: 5%;
}
blockquote h2, blockquote p {
    margin: 0px;
}
 blockquote q  {
    background: var(--blockquote-color);
    border-radius: 5px;
    border: 2px solid var(--header-bg-color);
    padding:30px 25px;
    margin:0px;
    display: block;
    font-size: 26px;
    line-height: 36px;
}
blockquote q p, blockquote q h2  {
    border-left: 0px solid var(--post-text-color);
    padding-left: 0%;
    font-family: 'Bradley Hand ITC', cursive;
    font-style: oblique;
    font-weight: bolder;
    font-size: 26px;
    line-height: 36px;
    background: none;
}
blockquote q:before {
    content: " 💬 Quote";
    background: var(--header-bg-color);
    font-family: var(--post-text-font);
    color: var(--blockquote-color);
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 12px;
}
@media only screen and (max-width: 800px) {
     #main {
    display: block;
}
#side {
 display: none;
}
.post-list li {
    width: 90%;
    margin: 1%;
    border: 2px solid var(--post-text-color);
  }
}