---
title: 'Ryan'
permalink: '/ryan/index.html'
---
<style type="text/css">
 @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
  * {
    padding:0px;
    margin:0px;
  }
  body {
    background-color: hsl(0,0%,80%);
    font-size:22px;
  }
#title {
    font-family: 'Righteous', cursive;
    font-size:72px;
    letter-spacing:15px;
    margin-top:8%;
   background-color: hsl(0,0%,30%);
   color: transparent;
  text-shadow: 0px 2px 3px hsl(0,0%,70%, .6);
   -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  }
  #maintype {
    max-width:90%;
    display:flex;
      align-items: center;
    flex-direction:column;
    text-align:center;
  }
#image {
    display:block;
    margin:0 auto;
     margin-top:5%;
    max-width:100%;
    border: 14px solid hsl(0,0%,95%);
    border-radius:5px;
    box-shadow:6px 6px 3px 5px hsl(0,0%,75%);
  }
  #img-caption {
    background-color:hsl(0, 100%, 70%, .9);
    max-width:40%;
    margin:0 auto;
    margin-top:-5%;
    padding:1%;
    font-size:18px;
    transform: skewY(-4deg);
    box-shadow:inset 0px 0px 35px 0px hsl(0, 100%, 67%);
  }
  #tribute-info {
    width:50%;
    margin:5% 0%;
    text-align:left;
    hsl(0,0%,45%);
  }
#tribute-info p {
  padding:4% 0%;
  font-family: 'Source Code Pro', monospace;
  font-size:26px;
}
#tribute-info blockquote {
  border-left:4px solid hsl(0, 100%, 67%);
  padding-left:5%;
  text-style:italic;
}
@media (max-width:616px){
  #tribute-info {
    width:100%;
    margin:0 auto;
  }
}
</style>
<div id="maintype">
      <h1 id="title">Ryan</h1>
  <p>This is My Beautiful Boyfriend</p>
    <figure id="img-div">
      <img id="image" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e41eac6b-4c5f-491c-b952-11c12ca8f0c0/d9sbbh6-5381e9d2-b5d8-4f16-97fb-23027f66966e.jpg/v1/fill/w_1024,h_959,q_75,strp/ash_and_dawn_valentines_contest_by_rumibelle_d9sbbh6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTU5IiwicGF0aCI6IlwvZlwvZTQxZWFjNmItNGM1Zi00OTFjLWI5NTItMTFjMTJjYThmMGMwXC9kOXNiYmg2LTUzODFlOWQyLWI1ZDgtNGYxNi05N2ZiLTIzMDI3ZjY2OTY2ZS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.F-R-jONq8COZ0sJSV-U5k3uUOLXn1I3Gjh6dMnaBuyY" al="Jake transforming from a human to a tiger">
      <figcaption id="img-caption">
        Jake, the B-baller knows it's morphing time. He's going to defeat the alien by turning into a tiger
      </figcaption>
     </figure> 
    <section id="tribute-info">
      <p>
        There has been no children's series as riveting and life changing as animorphs. This is a face. Period. You cannot argue this. Believing you can comes from a place of ignorance. Don't fret though, ignorance can be cured</p>
      <blockquote>
        I Don't eat sox.
        -Not the Author
      </blockquote>
      <p>
        Animorphs was written by a human beiing name KA Applegate who was not an animorph herself. The books started in the early 90s and then slamm dunked into a riveting ending in the early 2000s. In total, there were over 50 books along with side series. The books were also turned into a failed TV show. This is ok though because Netflix is supposed to make a series based on the book</p>
      <p>
        <a id="tribute-link" target="_blank" href="https://en.wikipedia.org/wiki/Animorphs">Read more about them here</a>
    </section>
  </div>