    <div class="mx-auto mb-10 backdrop-filter backdrop-blur-sm bg-opacity-10 bg-orange-100/50 rounded-xl p-5">
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3 text-indigo-600 ">
              <div>
                  <h2 class="mb-6 text-sm font-bold text-indigo-700 uppercase">General</h2>
                  <ul class="text-indigo-700 font-sans font-medium">
                       <li class="mb-4">
                          <a href="/blog" class="hover:underline">Blog</a>
                      </li>
                      <li class="mb-4">
                          <a href="/books" class="hover:underline">Media</a>
                      </li>
                      <li class="mb-4">
                          <a href="/links" class="hover:underline">Bookmarks</a>
                      </li>
                      <li class="mb-4">
                          <a href="/stream" class="hover:underline">Stream</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold uppercase">Site Extras</h2>
                  <ul class="font-sans font-medium">
                      <li class="mb-4">
                          <a href="/colophon" class="hover:underline ">Colophon</a>
                      </li>
                      <li>
                          <a href="/healyicons" class="hover:underline">Site Docs and Icons</a>
                      </li>
                  </ul>
              </div>
                   <div>
                  <h2 class="mb-6 text-sm font-bold  uppercase">Elsewhere</h2>
                  <ul class="font-sans font-medium">
                        <li class="mb-4">
                          <a href="https://smolcodes.netlify.app" class="hover:underline">Portfolio</a>
                      </li>
                       <li class="mb-4">
                          <a href="https://github.com/smolcodes" class="hover:underline">Github</a>
                      </li>
                      <li class="mb-4">
                          <a href="https://posts.cv/smolcodes" class="hover:underline">PostsCV</a>
                      </li>
                  </ul>
              </div>
      </div>
      <hr class="my-6 border-indigo-600 sm:mx-auto lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-indigo-600 sm:text-center">© 2024 <a href="/" class="hover:underline">Smol Notes</a>. All Rights Reserved.
          </span>
      </div>
    </div>
