
	   {% set navPages = collections.all | eleventyNavigation %}
<nav class="border-b border-orange-200 pt-10 pb-3 w-11/12 sm:w-10/12 md:w-9/12 lg:w-6/12 mx-auto sm:flex items-center">
   <span class="rounded-md shadow-md healy  healy-big healy-fauxthot mr-3"></span> 
 <div class="sm:pl-10">
  <h1 class="font-bold text-indigo-700 font-sans text-4xl pb-2"> Smol Codes</h1>
  <p>Is Jar Jar Binks a Mason Jar? I aim to answer this question and many more here</p>
    <ul class="flex text-base pt-2">
      <li>
           </li>
       {%- for entry in navPages %}
          <li>
          <a class="font-sans px-2 py-4 text-indigo-400  hover:text-yellow-500 hover:border-b-2 hover:border-yellow-400 {% if entry.url == page.url %} text-bold border-b-2 border-teal-400 text-teal-500 {% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
           </li>
                {%- endfor %}
    </ul>
    </div>
</nav> 

