	   {% set navPages = collections.all | eleventyNavigation %}
  <nav class="mt-0 w-full md:container mx-auto flex items-center -mt-40">
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        <div class="text-sm mx-auto text-gray-100">
          <h1 class="text-4xl font-serif mb-11 hidemobile"> <span class="healy healy-big healy-hey"></span> <span class="pr-5 pl-5 text-yellow-500"><a href="/">[ {{ site.title }} ]</a></span></h1>
       <p class="text-2xl text-gray-500 w-9/12 p-2 md:p-0 pb-5 hidemobile ">{{ site.description }}</p>
         <ul class=" list-reset flex md:block">
         {%- for entry in navPages %}
          <li>
          <a class="p-2 my-6 mr-2 bg-gray-100 rounded-3xl bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-30 md:p-5 md:w-full inline-block md:block hover:bg-purple-600 hover:border-gray-900 hover:text-white hover:shadow-2xl hover:shadow-orange-600/50 border-2 border-gray-600 md:hover:border-gray-500 text-gray-800 {% if entry.url == page.url %}bg-yellow-100 md:border-l-2 border-yellow-500{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
           </li>
                {%- endfor %}
             </ul>
             </div>
   </nav>
   <div class="w-full md:container mx-auto hidemobile">
    <img class="my-10 shadow-xl" src="/images/assets/de-groof-falling.jpg">
     <p class="text-gray-700 my-5"> This hot air balloon is here because it's a nice image. That's it</p>
     <h2 class="text-4xl my-5 text-yellow-500 font-serif">All Tags</h2>
     <p class="text-xl my-5">
    {% for tag in collections.tagList %}{% set tagUrl %}/tag/{{ tag | slug }}/{% endset %} <a class="inline-block m-1 bg-purple-700 font-bold text-xl text-yellow-200 p-1 hover:bg-blue-700 hover:text-gray-50" href="{{ tagUrl | url }}">{{ tag }}</a>{% endfor %}
    </p>
</div>
