    {% if pageHeaderImage %}
    <style>
    header .headerimage { background-image: 
            url("{{ pageHeaderImage }}");
    }
    </style>
    {% endif %}
    <header id="header" class="mx-auto md:rounded-xl mb-5">
    <div class="headerimage mx-auto break-normal text-gray-50">
    <div class="overlay">
    <div class="mx-6 pt-12 pb-12">
    <h1 class="my-6 font-serif font-extrabold text-4xl md:text-6xl">
      <span class="py-2 px-6 inline-block my-6 text-white">{{ pageHeaderTitle }}</span>
    </h1>
    {% if pageHeaderSummary %}
       <p class="leading-loose my-5 md:my-10 text-2xl">
         {{ pageHeaderSummary | safe }}
      </p>
    {% endif %}
    </div>
</div>
    </div>
</header>
