{# Only renders this section if there are links to render #}
{% if pagination.href.next or pagination.href.previous %}
      <nav class="mt-20 w-full flex justify-between text-gray-600" aria-label="Pagination links">
                    {% if pagination.href.previous %}
          <a class="hover:bg-yellow-100 hover:text-slate-400 hover:border-yellow-400 hover:shadow-lg hover:shadow-orange-400/50 hover:border-2 rounded-xl inline-block text-xl text-indigo-600 ring-1 ring-indigo-600 px-2 hover:text-gray-50" href="{{ pagination.href.previous }}{{ paginationAnchor }}" data-direction="backwards">
           ← {{ paginationPrevText if paginationPrevText else 'Previous' }} 
          </a>
        {% endif %}
               {% if pagination.href.next %}
          <a class="hover:bg-yellow-100 hover:text-slate-400 hover:border-yellow-400 hover:shadow-lg hover:shadow-orange-400/50 hover:border-2 rounded-xl inline-block text-xl text-indigo-600 ring-1 ring-indigo-600 px-2 hover:text-gray-50" href="{{ pagination.href.next }}{{ paginationAnchor }}" data-direction="forwards">
         {{ paginationNextText if paginationNextText else 'Next' }} →
          </a>
        {% endif %}
      </nav>
{% endif %}
