
    <section class="uk-section">
        {% if postListHeadline %}
    <h2 class="h2-header">
      {{ postListHeadline }}
    </h2>
    {% endif %}
      <ol class="post-list ">
        {% for item in postListItems %}
        <li class="post-list__item">
        <article class="uk-article post">
          <h2><a href="{{ item.url }}" class="post-list-link">{{ item.data.title }}</a></h2>
          <time datetime="{{ item.data.date | w3DateFilter }}">{{ item.data.date | dateFilter }}</time>
          <p>{{ item.data.description }}
          {% set pageHeaderSummary %}
{% endset %}
 </article>
        </li>
        {% endfor %}
      </ol>
      </section>


