    {% if postListHeadline %}
    <h2 class="post-rec">
      {{ postListHeadline }}
    </h2>
    {% endif %}
     <section>
        {% for item in postListItems %}
        {% set currentPost = post.data.post %}
					<article class="mb-8 border-b-2 border-purple-300 first:border-2 p-8 first:bg-purple-200 first:border-purple-600 hover:border-2 hover:bg-yellow-100 rounded-t rounded-b overflow-hidden first:shadow-md first:shadow-2xl first:shadow-purple-500/50 hover:shadow-md hover:shadow-xl hover:border-yellow-500">
						<div class="no-underline hover:no-underline flex flex-wrap">
              {% if item.data.imageURL %}
              <div class="mx-auto overflow-hidden md:flex-1 md:pr-4 sm:w-full md:w-6/12">
              <img class="lazy m-0 w-full max-w-full h-auto rounded-t rounded-b" src="{{ item.data.imageURL}}" alt="{{ item.data.imageAlt }}">
              </div>
            {% endif %}
            <div class="flex-1">
            <time class="serif text-sm text-white pl-2 pr-2 pt-1 pb-1 rounded-2xl bg-purple-600" datetime="{{ item.data.date }}"> 🕒 {{ item.data.date | dateFilter }}</time>
            <h2 class="mt-4"><a class="border-none text-lg md:text-3xl" href="{{ item.url }}">{{ item.data.title }}</a></h2>
              <p  class="text-gray-800 font-sans text-base mb-5">{{ item.data.description }}</p>
            <a class="border-none shadow-lg no-underline rounded-md bg-gradient-to-r from-blue-400 to-purple-600 hover:bg-gradient-to-r hover:from-yellow-400 hover:to-orange-600  text-white p-2 hover:bg-yellow-400 mb-4"href="{{ item.url }}">Read 👉</a>
           </div>
         </div>
      </article>
        {% endfor %}
     </section>

