  <div id="side_content">
  <h1 class="blog_title"><b><a href="/">A Smol Blog</a></b></h1>
  <p class="description">My small corner of the internet. This is a space to keep track of thoughts I've had on books, movies and 
  also stuff I've been learning</p>
 <nav id="nav-menu"  class="uk-navbar-container" uk-navbar>
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
          <h2><b>📃 Pages</b></h2>
          <ul>
          <li>
          <h3><a href="/media">📚 Media →</a></h3>
          <p>Notes on books, music, and movies</p>
           </li>
            <li>
          <h3><a href="/javapage">👉 Java Notes →</a></h3>
          <p>These are tiny notes I've taken from CodeGym on Java problems.</p>
           </li>
           <li>
             <h3><a href="/about">🐀 About →</a></h3>
          <p>How and why this site was made</p>
           </li>
           <li> 
           <h3>🏷️ Tags</h3>
        <p><a href="/tag/java">Java</a> <a href="/tag/pandemic-journal/">Pandemic Journal</a></p>
        </li>
           <li>
              <a class="donate" href="https://ko-fi.com/softthemes"><b>☕ Buy me a coffee? &rarr;</b></a>
                    </li>
             </ul>
  </nav>
  </div>