	<nav class="mt-0 w-full container mx-auto flex items-center">
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        <div class="text-sm mx-auto text-gray-100">
         <ul class="list-reset inline-flex">
          <li  class="mr-2">
          <a href="/">🏠 Home</a>
           </li>
          <li  class="mr-2">
          <a href="/media">📚 Media</a>
           </li>
            <li class="mr-2">
          <a href="/javapage">👉 Java Notes</a>
           </li>
           <li  class="mr-2">
             <a href="/about">🐀 About →</a>
           </li>
           <li  class="mr-2">
              <a class="donate" href="https://ko-fi.com/softthemes"><b>☕ Buy me a coffee? &rarr;</b></a>
                    </li>
             </ul>
             </div>
   </nav>

